################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ShiftWiseAI.Server/FileContentIndex/000a0b51-3404-43a2-9a78-0be32fd6ec7c.vsidx
/.vs/ShiftWiseAI.Server/FileContentIndex/258f91e8-c756-4b6e-9616-58a3a02960cf.vsidx
/.vs/ShiftWiseAI.Server/FileContentIndex/32bbf915-2eb6-4b9c-9121-c0051b570b4f.vsidx
/.vs/ShiftWiseAI.Server/FileContentIndex/2c3dd924-02b5-4785-8e21-326043b8bb64.vsidx
/.vs/ShiftWiseAI.Server/FileContentIndex/ac9204aa-5b7f-4b8b-ac4b-d2b6f7ddfb73.vsidx
/.vs/ShiftWiseAI.Server/FileContentIndex/1b20adfa-ea41-4313-b495-37022c075bdd.vsidx
/.vs/ShiftWiseAI.Server/FileContentIndex/392db73b-3ca9-4142-a3ca-4d8342295a69.vsidx
/.vs/ShiftWiseAI.Server/FileContentIndex/990f6981-ceb6-4bcc-a551-e56b758536e7.vsidx
/.vs/ShiftWiseAI.Server/FileContentIndex/464c8908-cdd0-482f-a204-1860e16ad566.vsidx
/.vs/ShiftWiseAI.Server/FileContentIndex/c2e2139f-8778-4496-b8df-4fe2bd3c89aa.vsidx
/.vs/ShiftWiseAI.Server/FileContentIndex/9eef2629-17a9-4a7e-95ea-28f4d5a72a25.vsidx
